<div class="container">
    <p-panel>
        <ng-template pTemplate="header">
            <div class="panel-header">
                <span class="panel-title">Jobs</span>
                <p-button 
                    label="Add Job" 
                    icon="pi pi-plus" 
                    size="small"
                    (click)="addJob()">
                </p-button>
            </div>
        </ng-template>
        
        <p-table [value]="jobs" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="title">Title <p-sortIcon field="title" /></th>
                    <th>Client</th>
                    <th>Job Type</th>
                    <th pSortableColumn="status">Status <p-sortIcon field="status" /></th>
                    <th pSortableColumn="price">Price <p-sortIcon field="price" /></th>
                    <th pSortableColumn="due_date">Due Date <p-sortIcon field="due_date" /></th>
                    <th pSortableColumn="completed_date">Completed Date <p-sortIcon field="completed_date" /></th>
                    <th pSortableColumn="created_at">Created At <p-sortIcon field="created_at" /></th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-job>
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ getClientName(job.client_id || job.client?.id) }}</td>
                    <td>
                        <div class="job-type-display" *ngIf="job.job_type">
                            <div 
                                class="job-type-color" 
                                [style.background-color]="job.job_type.color_hex">
                            </div>
                            <span>{{ job.job_type.name }}</span>
                        </div>
                        <span *ngIf="!job.job_type">-</span>
                    </td>
                    <td>
                        <p-tag 
                            [value]="job.status" 
                            [severity]="getStatusSeverity(job.status)">
                        </p-tag>
                    </td>
                    <td>${{ job.price | number:'1.2-2' }}</td>
                    <td>{{ job.due_date || '-' }}</td>
                    <td>{{ job.completed_date || '-' }}</td>
                    <td>{{ job.created_at | date: 'dd/MMM/YY hh:mm' }}</td>

                    <td>
                        <div class="action-buttons">
                            <p-button 
                                icon="pi pi-pencil" 
                                [text]="true"
                                severity="info"
                                size="small"
                                pTooltip="Edit Job"
                                (click)="editJob(job)">
                            </p-button>
                            <p-button 
                                icon="pi pi-trash" 
                                [text]="true"
                                severity="danger"
                                size="small"
                                pTooltip="Delete Job"
                                (click)="deleteJob($event,job)">
                            </p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</div>

<p-confirmdialog />
<p-toast />